* {
  font-family: "Allerta Stencil", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// navbar
.nav-links:hover {
  background: rgba(128, 128, 128, 0.51);
}
// Hero content
.hero {
  .hero-container {
    background: url(./assets/bgport.jpg);
    background-size: cover;
    min-height: 80vh;
    .hero-text {
      margin: 20rem 15rem;
    }
  }
}

// social links
.social-links {
  flex-direction: row-reverse;
  // gap: 1em;
  top: 50%;
  position: fixed;
  transform: translateY(-50%);

  .vertical-text {
    transform: rotate(-90deg);
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: initial;
    margin-left: 10px;
    li {
      a {
        text-decoration: none;
        color: black;
      }
    }
    i {
      font-size: 2rem;
      transform: rotate(90deg);
    }
  }
}

// tech stack section
.marquee {
  width: 80vw;
  overflow: hidden;

  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    font-size: 5rem;
    letter-spacing: 80px;
    white-space: nowrap;
    animation: scrolling 22s linear infinite;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// global header styling
.global-header {
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
}

// Projects
