* {
  font-family: "Allerta Stencil", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// navbar
.nav-links:hover {
  background: rgba(128, 128, 128, 0.51);
}
// Hero content
.hero {
  .hero-container {
    background-image: url(./assets/bgport.jpg);
    background-size: cover;
    min-height: 80vh;

    .hero-text {
      margin: 20rem 15rem;
    }
  }
}

// social links
.social-links {
  flex-direction: row-reverse;
  // gap: 1em;
  top: 50%;
  position: fixed;
  transform: translateY(-50%);

  .vertical-text {
    transform: rotate(-90deg);
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: initial;
    margin-left: 10px;
    li {
      a {
        text-decoration: none;
        color: black;
      }
    }
    i {
      font-size: 2rem;
      transform: rotate(90deg);
    }
  }
}

// tech stack section
.marquee {
  width: 80vw;
  overflow: hidden;

  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    font-size: 5rem;
    letter-spacing: 80px;
    white-space: nowrap;
    animation: scrolling 22s linear infinite;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// global header styling
.global-header {
  text-align: center;
  padding: 2rem;
  border-bottom: 5px solid black;
  width: 20%;
  margin: auto;
  margin-bottom: 2rem;
}

// Projects
.carousel {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }
}
.carouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  background-color: #fff;

  .carouselImg {
    width: 500px;
    padding: 0 20px 0 20px;
  }
  .carousel-item-text {
    font-size: 1.15rem;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: #617d98;
  }
}
.carousel-buttons {
  display: flex;
  justify-content: space-evenly;

  .button-arrow {
    cursor: pointer;
    margin-top: 20px;
  }
  .indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    .indicator-buttons {
      cursor: pointer;
      margin: 5px;
      padding: 5px;
    }
  }
}
